<h1 style="color :#6E6E6E">スレッド編集</h1>

	<p>
		<%= link_to @board.title, board_path(@board) %> 
	</p>
<hr>
	 <%= form_for @board do |f| %>
  	タイトル: <%= f.text_field :title %> <br>
  	作成者名: <%= f.text_field :editor %> <br>
	<% if @board.errors.any? %>
			<%= @board.errors.messages[:title][0] %>
		<%end%>
	<% if @board.errors.any? %>
			<%= @board.errors.messages[:editor][0]%>
		<%end%>
 	<%= submit_tag "更新"%> 
	<%end%>
</hr>

