<!DOCTYPE html>
<html>
  <head>
    <title>RikushiruBBS</title>
    <%= csrf_meta_tags %>
    <meta name="msvalidate.01" content="F28F0C6805A6191F4BDF2BC39D41547D" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= image_tag "logo.png"%>

    <%= yield %>

    <hr><%= link_to "HOME", boards_path %></hr>
  </body>
</html>
